[submodule "sqllogictest"]
	path = sqllogictest
	url = https://github.com/gregrahn/sqllogictest
        ignore = untracked
[submodule "_build/bordeaux-threads"]
	path = _build/bordeaux-threads
	url = https://github.com/sionescu/bordeaux-threads
[submodule "_build/alexandria"]
	path = _build/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
[submodule "_build/global-vars"]
	path = _build/global-vars
	url = https://github.com/lmj/global-vars
[submodule "_build/trivial-features"]
	path = _build/trivial-features
	url = https://github.com/trivial-features/trivial-features
[submodule "_build/trivial-garbage"]
	path = _build/trivial-garbage
	url = https://github.com/trivial-garbage/trivial-garbage
[submodule "_build/trivial-gray-streams"]
	path = _build/trivial-gray-streams
	url = https://github.com/trivial-gray-streams/trivial-gray-streams
[submodule "_build/cl-fad"]
	path = _build/cl-fad
	url = https://github.com/edicl/cl-fad
[submodule "_build/cl-ppcre"]
	path = _build/cl-ppcre
	url = https://github.com/edicl/cl-ppcre
[submodule "_build/flexi-streams"]
	path = _build/flexi-streams
	url = https://github.com/edicl/flexi-streams
[submodule "_build/trivial-backtrace"]
	path = _build/trivial-backtrace
	url = https://github.com/gwkkwg/trivial-backtrace
[submodule "_build/babel"]
	path = _build/babel
	url = https://github.com/cl-babel/babel
[submodule "_build/named-readtables"]
	path = _build/named-readtables
	url = https://github.com/melisgl/named-readtables
[submodule "_build/cffi"]
	path = _build/cffi
	url = https://github.com/cffi/cffi
[submodule "_build/jzon"]
	path = _build/jzon
	url = https://github.com/Zulu-Inuoe/jzon
[submodule "_build/closer-mop"]
	path = _build/closer-mop
	url = https://github.com/pcostanza/closer-mop
[submodule "_build/float-features"]
	path = _build/float-features
	url = https://github.com/Shinmera/float-features
[submodule "_build/documentation-utils"]
	path = _build/documentation-utils
	url = https://github.com/Shinmera/documentation-utils
[submodule "_build/trivial-indent"]
	path = _build/trivial-indent
	url = https://github.com/Shinmera/trivial-indent
[submodule "_build/local-time"]
	path = _build/local-time
	url = https://github.com/dlowe-net/local-time
[submodule "_build/trivial-utf-8"]
	path = _build/trivial-utf-8
	url = https://gitlab.common-lisp.net/trivial-utf-8/trivial-utf-8.git
[submodule "_build/fset"]
	path = _build/fset
	url = https://github.com/slburson/fset
[submodule "_build/misc-extensions"]
	path = _build/misc-extensions
	url = https://github.com/slburson/misc-extensions
[submodule "_build/mt19937"]
	path = _build/mt19937
	url = https://gitlab.common-lisp.net/nyxt/mt19937.git
[submodule "_build/periods"]
	path = _build/periods
	url = https://github.com/jwiegley/periods
[submodule "_build/archive"]
	path = _build/archive
	url = https://github.com/sharplispers/archive
[submodule "_build/trivia"]
	path = _build/trivia
	url = https://github.com/guicho271828/trivia
[submodule "_build/lisp-namespace"]
	path = _build/lisp-namespace
	url = https://github.com/guicho271828/lisp-namespace
[submodule "_build/trivial-cltl2"]
	path = _build/trivial-cltl2
	url = https://github.com/Zulu-Inuoe/trivial-cltl2
[submodule "_build/type-i"]
	path = _build/type-i
	url = https://github.com/guicho271828/type-i
[submodule "_build/introspect-environment"]
	path = _build/introspect-environment
	url = https://github.com/Bike/introspect-environment
[submodule "_build/iterate"]
	path = _build/iterate
	url = https://gitlab.common-lisp.net/iterate/iterate.git
[submodule "_build/fiveam"]
	path = _build/fiveam
	url = https://github.com/lispci/fiveam
[submodule "_build/asdf-flv"]
	path = _build/asdf-flv
	url = https://github.com/didierverna/asdf-flv
