[submodule "sqllogictest"]
	path = sqllogictest
	url = https://github.com/gregrahn/sqllogictest
        ignore = untracked
[submodule "_build/bordeaux-threads"]
	path = _build/bordeaux-threads
	url = https://github.com/sionescu/bordeaux-threads
[submodule "_build/alexandria"]
	path = _build/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
[submodule "_build/global-vars"]
	path = _build/global-vars
	url = https://github.com/lmj/global-vars
[submodule "_build/trivial-features"]
	path = _build/trivial-features
	url = https://github.com/trivial-features/trivial-features
[submodule "_build/trivial-garbage"]
	path = _build/trivial-garbage
	url = https://github.com/trivial-garbage/trivial-garbage
[submodule "_build/clack"]
	path = _build/clack
	url = https://github.com/fukamachi/clack
[submodule "_build/lack"]
	path = _build/lack
	url = https://github.com/fukamachi/lack
[submodule "_build/cl-isaac"]
	path = _build/cl-isaac
	url = https://github.com/thephoeron/cl-isaac
[submodule "_build/usocket"]
	path = _build/usocket
	url = https://github.com/usocket/usocket
[submodule "_build/split-sequence"]
	path = _build/split-sequence
	url = https://github.com/sharplispers/split-sequence
[submodule "_build/hunchentoot"]
	path = _build/hunchentoot
	url = https://github.com/edicl/hunchentoot
[submodule "_build/chunga"]
	path = _build/chunga
	url = https://github.com/edicl/chunga
[submodule "_build/trivial-gray-streams"]
	path = _build/trivial-gray-streams
	url = https://github.com/trivial-gray-streams/trivial-gray-streams
[submodule "_build/cl-base64"]
	path = _build/cl-base64
	url = https://gitlab.common-lisp.net/nyxt/cl-base64.git
[submodule "_build/cl-fad"]
	path = _build/cl-fad
	url = https://github.com/edicl/cl-fad
[submodule "_build/cl-ppcre"]
	path = _build/cl-ppcre
	url = https://github.com/edicl/cl-ppcre
[submodule "_build/flexi-streams"]
	path = _build/flexi-streams
	url = https://github.com/edicl/flexi-streams
[submodule "_build/md5"]
	path = _build/md5
	url = https://github.com/pmai/md5
[submodule "_build/rfc2388"]
	path = _build/rfc2388
	url = https://github.com/jdz/rfc2388
[submodule "_build/trivial-backtrace"]
	path = _build/trivial-backtrace
	url = https://github.com/gwkkwg/trivial-backtrace
[submodule "_build/clingon"]
	path = _build/clingon
	url = https://github.com/dnaeon/clingon
[submodule "_build/bobbin"]
	path = _build/bobbin
	url = https://github.com/sjl/bobbin
[submodule "_build/cl-reexport"]
	path = _build/cl-reexport
	url = https://github.com/takagi/cl-reexport
[submodule "_build/with-user-abort"]
	path = _build/with-user-abort
	url = https://github.com/theZacAttacks/with-user-abort
[submodule "_build/log4cl"]
	path = _build/log4cl
	url = https://github.com/sharplispers/log4cl
[submodule "_build/quri"]
	path = _build/quri
	url = https://github.com/fukamachi/quri
[submodule "_build/babel"]
	path = _build/babel
	url = https://github.com/cl-babel/babel
[submodule "_build/cl-utilities"]
	path = _build/cl-utilities
	url = https://gitlab.common-lisp.net/cl-utilities/cl-utilities.git
[submodule "_build/http-body"]
	path = _build/http-body
	url = https://github.com/fukamachi/http-body
[submodule "_build/fast-http"]
	path = _build/fast-http
	url = https://github.com/fukamachi/fast-http
[submodule "_build/proc-parse"]
	path = _build/proc-parse
	url = https://github.com/fukamachi/proc-parse
[submodule "_build/xsubseq"]
	path = _build/xsubseq
	url = https://github.com/fukamachi/xsubseq
[submodule "_build/smart-buffer"]
	path = _build/smart-buffer
	url = https://github.com/fukamachi/smart-buffer
[submodule "_build/jonathan"]
	path = _build/jonathan
	url = https://github.com/Rudolph-Miller/jonathan
[submodule "_build/cl-syntax"]
	path = _build/cl-syntax
	url = https://github.com/m2ym/cl-syntax
[submodule "_build/trivial-types"]
	path = _build/trivial-types
	url = https://github.com/m2ym/trivial-types
[submodule "_build/named-readtables"]
	path = _build/named-readtables
	url = https://github.com/melisgl/named-readtables
[submodule "_build/cl-annot"]
	path = _build/cl-annot
	url = https://github.com/m2ym/cl-annot
[submodule "_build/fast-io"]
	path = _build/fast-io
	url = https://github.com/rpav/fast-io
[submodule "_build/static-vectors"]
	path = _build/static-vectors
	url = https://github.com/sionescu/static-vectors
[submodule "_build/cffi"]
	path = _build/cffi
	url = https://github.com/cffi/cffi
[submodule "_build/circular-streams"]
	path = _build/circular-streams
	url = https://github.com/fukamachi/circular-streams
[submodule "_build/jzon"]
	path = _build/jzon
	url = https://github.com/Zulu-Inuoe/jzon
[submodule "_build/closer-mop"]
	path = _build/closer-mop
	url = https://github.com/pcostanza/closer-mop
[submodule "_build/float-features"]
	path = _build/float-features
	url = https://github.com/Shinmera/float-features
[submodule "_build/documentation-utils"]
	path = _build/documentation-utils
	url = https://github.com/Shinmera/documentation-utils
[submodule "_build/trivial-indent"]
	path = _build/trivial-indent
	url = https://github.com/Shinmera/trivial-indent
[submodule "_build/local-time"]
	path = _build/local-time
	url = https://github.com/dlowe-net/local-time
[submodule "_build/trivial-utf-8"]
	path = _build/trivial-utf-8
	url = https://gitlab.common-lisp.net/trivial-utf-8/trivial-utf-8.git
[submodule "_build/metabang-bind"]
	path = _build/metabang-bind
	url = https://github.com/gwkkwg/metabang-bind
[submodule "_build/cl-murmurhash"]
	path = _build/cl-murmurhash
	url = https://github.com/ruricolist/cl-murmurhash
[submodule "_build/fset"]
	path = _build/fset
	url = https://github.com/slburson/fset
[submodule "_build/misc-extensions"]
	path = _build/misc-extensions
	url = https://github.com/slburson/misc-extensions
[submodule "_build/mt19937"]
	path = _build/mt19937
	url = https://gitlab.common-lisp.net/nyxt/mt19937.git
[submodule "_build/periods"]
	path = _build/periods
	url = https://github.com/jwiegley/periods
[submodule "_build/mmap"]
	path = _build/mmap
	url = https://github.com/Shinmera/mmap
[submodule "_build/cl-bloom"]
	path = _build/cl-bloom
	url = https://github.com/ruricolist/cl-bloom
[submodule "_build/archive"]
	path = _build/archive
	url = https://github.com/sharplispers/archive
[submodule "_build/ironclad"]
	path = _build/ironclad
	url = https://github.com/sharplispers/ironclad
[submodule "_build/trivia"]
	path = _build/trivia
	url = https://github.com/guicho271828/trivia
[submodule "_build/lisp-namespace"]
	path = _build/lisp-namespace
	url = https://github.com/guicho271828/lisp-namespace
[submodule "_build/trivial-cltl2"]
	path = _build/trivial-cltl2
	url = https://github.com/Zulu-Inuoe/trivial-cltl2
[submodule "_build/type-i"]
	path = _build/type-i
	url = https://github.com/guicho271828/type-i
[submodule "_build/introspect-environment"]
	path = _build/introspect-environment
	url = https://github.com/Bike/introspect-environment
[submodule "_build/iterate"]
	path = _build/iterate
	url = https://gitlab.common-lisp.net/iterate/iterate.git
[submodule "_build/fiveam"]
	path = _build/fiveam
	url = https://github.com/lispci/fiveam
[submodule "_build/asdf-flv"]
	path = _build/asdf-flv
	url = https://github.com/didierverna/asdf-flv
[submodule "_build/cl-sqlite"]
	path = _build/cl-sqlite
	url = https://github.com/TeMPOraL/cl-sqlite
