:root {
    --endb-yellow: #B0A974;
    --endb-green: #32382E;
}

html {
    scrollbar-width: none;
}

body {
    font-family: arial;
    background-color: black;
    color: white;
    margin: 0;
}

.spinner {
    margin-top: 1em;
    margin-left: 1em;
    height: 2em;
    width: 2em;
    position: absolute;

    -webkit-animation: rotation .8s linear infinite;
    -moz-animation: rotation .8s linear infinite;
    -o-animation: rotation .8s linear infinite;
    animation: rotation 0.8s linear infinite;

    border-left: 5px solid var(--endb-green);
    border-right: 5px solid var(--endb-green);
    border-bottom: 5px solid var(--endb-green);
    border-top: 5px solid  var(--endb-yellow);

    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.status {
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    color: rgb(120, 120, 120);
    display: none;
}

.console > * {
    width: 100%;
    margin: 0 auto;
    border: 0px;
    padding: 0;
    background-color: black;
    color: white;
    display: block;
    white-space: pre;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 1.5vw;
    outline: none;
}

.console table {
    border-collapse: collapse;
}

.console a {
    text-decoration: none;
    color: inherit;
}

.console thead tr {
    border-bottom: 2px solid white;
}

.console th {
    padding: 0 1em;
}

.console td {
    padding: 0 1em;
}

.console td.js-number {
    text-align: right;
}

.console .ansi-31 {
    color: #800000;
}

.console .ansi-34 {
    color: #000080;
}

.console .ansi-38-5-115 {
    color: #87d7af;
}

.console .ansi-38-5-240 {
    color: #585858;
}

.console .ansi-38-5-246 {
    color: #949494;
}

.console .ansi-38-5-249 {
    color: #b2b2b2;
}

.console #input {
    display: none;
    resize: none;
    background-color: #111;
}

@media screen and (min-width:852px) {
    .console #input:focus::placeholder {
        color: transparent;
    }
}
